 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/recaboutus.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  margin: 97px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 509px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 409px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 479px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("np://user.desktop.nicepage.com/Site_1671629045/images/g9e4cfd07a225d3d28a42673d6f0090dea929e481915a76a6fc68d5e7c3b19f408170c104d31769901fbca5695ccc014b93598badde5291c6105fdbba63f9cb01_1280.png?rand=5360");
  background-position: 50% 50%;
  margin: 1px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -237px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 133px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 283px;
  height: 288px;
  margin: -261px auto 0 28px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 478px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 64px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 276px;
  }

  .u-section-4 .u-image-2 {
    width: 276px;
    height: 281px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1217px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 640px;
  }

  .u-section-4 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: 348px;
    margin-right: auto;
    margin-left: -47px;
  }

  .u-section-4 .u-icon-2 {
    width: 47px;
    height: 47px;
    margin-top: 157px;
    margin-right: auto;
    margin-left: -47px;
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -584px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 643px;
}

.u-section-5 .u-gallery-1 {
  height: 438px;
  width: 264px;
  margin: 43px auto 0 54px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 454px;
  margin: -416px -39px 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-5 .u-text-2 {
  margin: 20px 30px 0 40px;
}

.u-section-5 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: -223px auto 0 -10px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: 20px auto 0 -11px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: 39px auto 0 -11px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 33px;
  height: 33px;
  margin: 22px auto 0 -9px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 466px;
    margin-left: 21px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 466px;
    margin-top: -903px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -331px;
    margin-left: -5px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 33px;
    margin-left: -5px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 55px;
    margin-left: -7px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 91px;
    margin-left: -7px;
  }
}