 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/g815bf95cc3f17f5db47496d653c5a8ad199bfe26fa394af6223d694686a7bac5fe8241ea50f461f2c1d860504dccfb1e62e1fb7152a7a9a0453069b1807034e4_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#737373, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 63px auto 0;
}

.u-section-2 .u-text-2 {
  width: 292px;
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 791px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 282px;
  min-height: 200px;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -24px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  margin: 19px auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 12px 126px 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(219, 84, 90) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 254px;
  margin: -217px auto 0 -7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 282px;
  min-height: 200px;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-top: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -24px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  font-style: normal;
  margin: 19px auto 0 0;
}

.u-section-2 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 12px 126px 0 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(219, 84, 90) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-image-2 {
  width: 278px;
  height: 254px;
  margin: -217px auto 0 -7px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 282px;
  min-height: 200px;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-top: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -24px 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 300;
  font-style: normal;
  margin: 19px auto 0 0;
}

.u-section-2 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 12px 126px 0 0;
}

.u-section-2 .u-icon-5 {
  color: rgb(219, 84, 90) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-image-3 {
  width: 278px;
  height: 254px;
  margin: -217px auto 0 -7px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 282px;
  min-height: 200px;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-top: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -24px 0 0;
}

.u-section-2 .u-text-14 {
  font-weight: 300;
  font-style: normal;
  margin: 19px auto 0 0;
}

.u-section-2 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 12px 126px 0 0;
}

.u-section-2 .u-icon-7 {
  color: rgb(219, 84, 90) !important;
}

.u-section-2 .u-icon-8 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-image-4 {
  width: 278px;
  height: 254px;
  margin: -217px auto 0 -7px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  width: 282px;
  min-height: 200px;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-top: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -24px 0 0;
}

.u-section-2 .u-text-17 {
  font-weight: 300;
  font-style: normal;
  margin: 19px auto 0 0;
}

.u-section-2 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 12px 126px 0 0;
}

.u-section-2 .u-icon-9 {
  color: rgb(219, 84, 90) !important;
}

.u-section-2 .u-icon-10 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-image-5 {
  width: 278px;
  height: 254px;
  margin: -217px auto 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 652px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 858px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-1 {
    min-height: 283px;
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 11px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 96px;
    margin-right: 63px;
    margin-bottom: -16px;
  }

  .u-section-2 .u-image-1 {
    width: 196px;
    height: 177px;
    margin: -274px -73px -25px auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-2 {
    min-height: 283px;
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 11px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 96px;
    margin-right: 63px;
    margin-bottom: -16px;
  }

  .u-section-2 .u-image-2 {
    width: 196px;
    height: 177px;
    margin: -274px -73px -25px auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-3 {
    min-height: 283px;
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 11px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 96px;
    margin-right: 63px;
    margin-bottom: -16px;
  }

  .u-section-2 .u-image-3 {
    width: 196px;
    height: 177px;
    margin: -274px -73px -25px auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-4 {
    min-height: 283px;
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 11px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-social-icons-4 {
    margin-top: 96px;
    margin-right: 63px;
    margin-bottom: -16px;
  }

  .u-section-2 .u-image-4 {
    width: 196px;
    height: 177px;
    margin: -274px -73px -25px auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-5 {
    min-height: 283px;
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 11px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-social-icons-5 {
    margin-top: 96px;
    margin-right: 63px;
    margin-bottom: -16px;
  }

  .u-section-2 .u-image-5 {
    width: 196px;
    height: 177px;
    margin: -274px -73px -25px auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 628px;
}

.u-section-3 .u-list-1 {
  width: 1007px;
  margin: 0 auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 448px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 335px;
  height: 335px;
  background-image: url("images/cyx.png");
  background-position: 50% 50%;
  margin: -19px -10px 0;
}

.u-section-3 .u-group-1 {
  min-height: 224px;
  width: 316px;
  margin: -48px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(219, 84, 90) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 335px;
  height: 335px;
  background-image: url("images/divya-1.png");
  background-position: 50% 50%;
  margin: -19px -10px 0;
}

.u-section-3 .u-group-2 {
  min-height: 224px;
  width: 316px;
  margin: -48px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 11px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-3 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(219, 84, 90) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 335px;
  height: 335px;
  background-image: url("images/kua.png");
  background-position: 50% 50%;
  margin: -19px -10px 0;
}

.u-section-3 .u-group-3 {
  min-height: 224px;
  width: 316px;
  margin: -48px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 11px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-3 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 94px;
  min-width: 62px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-5 {
  color: rgb(219, 84, 90) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 418px;
  }

  .u-section-3 .u-image-1 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    width: 218px;
    min-width: 154px;
  }

  .u-section-3 .u-image-2 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-social-icons-2 {
    width: 218px;
    min-width: 154px;
  }

  .u-section-3 .u-image-3 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-social-icons-3 {
    width: 218px;
    min-width: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2710px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 37px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 961px;
  }

  .u-section-3 .u-image-1 {
    width: 237px;
    height: 237px;
    margin-top: 26px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    width: 237px;
    height: 237px;
    margin-top: 26px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    width: 237px;
    height: 237px;
    margin-top: 26px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2548px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 24px;
  }

  .u-section-3 .u-image-1 {
    width: 184px;
    height: 184px;
    margin-right: 41px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 10px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-social-icons-1 {
    height: 27px;
    width: 83px;
    min-width: 62px;
  }

  .u-section-3 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-right: 41px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 10px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-social-icons-2 {
    height: 27px;
    width: 83px;
    min-width: 62px;
  }

  .u-section-3 .u-image-3 {
    width: 184px;
    height: 184px;
    margin-right: 41px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 10px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-social-icons-3 {
    height: 27px;
    width: 83px;
    min-width: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 61px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1308px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 233px;
    margin-top: -43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 37px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    height: 41px;
    width: 112px;
  }

  .u-section-3 .u-image-2 {
    width: 245px;
    height: 245px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 233px;
    margin-top: -43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 37px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-social-icons-2 {
    height: 41px;
    width: 112px;
  }

  .u-section-3 .u-image-3 {
    width: 245px;
    height: 245px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 233px;
    margin-top: -43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-top: 37px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-social-icons-3 {
    height: 41px;
    width: 112px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1362px;
}

.u-section-4 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 126px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  min-height: 1044px;
  grid-gap: 40px 40px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-4 .u-image-1 {
  width: 244px;
  height: 248px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 27px 9px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 27px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-4 .u-image-2 {
  width: 244px;
  height: 248px;
  background-image: url("images/image3.png");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 27px 9px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 27px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-4 .u-image-3 {
  width: 244px;
  height: 248px;
  background-image: url("images/jk1.png");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 27px 9px 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-4 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 27px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
    min-height: 861px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 248px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-2 {
    width: 248px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-3 {
    width: 248px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1759px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }
}